/ {
    rgb_underglow: ws2812 {
        compatible = "worldsemi,ws2812-spi";
        label = "WS2812";
        spi-max-frequency = <8000000>;
        chain-length = <18>;
        data-pin = <10>;
    };
};
