#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define RU_E &kp CYRILLIC_IE
#define RU_YO &kp LS(CYRILLIC_IE)  // Shift+Е = Ё
#define RU_SOFT &kp CYRILLIC_SOFT_SIGN
#define RU_HARD &kp LS(CYRILLIC_SOFT_SIGN)  // Shift+Ь = Ъ

/ {
    keymap {
        compatible = "zmk,keymap";

        russian_layer {
            bindings = <
                &none  &kp CYRILLIC_SHORT_I  &kp CYRILLIC_TSE  &kp CYRILLIC_U  &kp CYRILLIC_KA  &kp CYRILLIC_IE  &kp CYRILLIC_EL  &kp CYRILLIC_SHCHA  &kp CYRILLIC_YA  &kp CYRILLIC_ZHE  &to 0  &none
                &none  &kp CYRILLIC_A        &kp CYRILLIC_ER   &kp CYRILLIC_ES &kp CYRILLIC_TE  &kp CYRILLIC_GHE &RU_YO           &kp CYRILLIC_EN     &kp CYRILLIC_I   &kp CYRILLIC_O    &none
                &none  &kp CYRILLIC_ZE       &kp CYRILLIC_HA   &kp CYRILLIC_EF &kp CYRILLIC_DE  &RU_HARD         &kp CYRILLIC_EM  &kp CYRILLIC_VE     &kp COMMA        &kp DOT           &kp FSLH  &none
                                             &mt LCTRL TAB  &kp LGUI  &lt 2 SPACE  &lt 1 ENTER  &mt RIGHT_SHIFT BACKSPACE  &mt LEFT_ALT ESC
            >;
        };
    };
};
