#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers
#define WIN 0
#define WIN_CODE 1
#define WIN_NUM 2
#define WIN_FUNC 3

// Behavior Overrides
&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
};

/ {
    macros {
        win_emoji: win_emoji {
            label = "win_emoji";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>, <&macro_tap &kp DOT>, <&macro_release &kp LGUI>;
        };
    };

    behaviors {
        td_multi_windows: tap_dance_multi_windows {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MULTI_WINDOWS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&kp LGUI>, <&win_emoji>;
        };

        bm: bottom_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BOTTOM_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        cm: code_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "CODE_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            retro-tap;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        windows_default_layer {
            bindings = <
                // Left Half (15 keys + 3 thumb)
                &none      &kp Q            &kp W      &kp F          &kp P         &kp G
                &none      &kp A            &kp R      &kp S          &kp T         &kp D
                &none      &bm LSHFT Z      &kp X      &kp C          &kp V         &kp B
                &kp LGUI   &kp LALT         &kp SPACE  // Упростил до простых клавиш

                // Right Half (15 keys + 3 thumb)
                &kp J                 &kp L                  &kp U                  &kp Y        &kp BSPC            &none
                &kp H                 &kp N                  &kp E                  &kp I        &kp O               &none
                &kp K                 &kp M                  &kp COMMA              &kp DOT      &bm RSHFT FSLH      &none
                &lt WIN_CODE TAB      &lt WIN_NUM ENTER      &td_multi_windows
            >;
        };

        windows_code_layer {
            bindings = <
                // Left Half
                &none      &kp UNDER           &kp MINUS     &kp PLUS      &kp EQUAL      &kp COLON
                &none      &kp LBRC            &kp LPAR      &kp RPAR      &kp RBRC       &kp PIPE
                &none      &cm LSHFT LBKT      &kp APOS      &kp DQT       &kp RBKT       &kp SEMI
                &trans     &trans              &trans

                // Right Half
                &kp GRAVE      &kp C_PREV        &kp C_PP               &kp C_NEXT        &kp DEL             &none
                &kp ESC        &kp LEFT          &kp UP                 &kp DOWN          &kp RIGHT           &none
                &kp TILDE      &kp C_VOL_DN      &kp C_MUTE             &kp C_VOL_UP      &cm RSHFT BSLH      &none
                &trans         &trans            &trans
            >;
        };

        windows_number_layer {
            bindings = < 
                // Left Half
                &none      &kp EXCL       &kp AT      &kp HASH      &kp DLLR       &kp PRCNT
                &none      &kp N1         &kp N2      &kp N3        &kp N4         &kp N5
                &none      &kp LSHFT      &none       &none         &none          &mo WIN_FUNC
                &trans     &trans         &trans

                // Right Half
                &kp CARET      &kp AMPS      &kp ASTERISK           &kp CAPS      &kp BSPC       &none  
                &kp N6         &kp N7        &kp N8                 &kp N9        &kp N0         &none
                &none         &none         &kp COMMA              &kp DOT       &kp RSHFT      &none
                &trans        &trans        &trans
            >;
        };

        windows_function_layer {
            bindings =<
                // Left Half
                &none      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2        &bt BT_SEL 3      &bt BT_SEL 4
                &none      &kp F1          &kp F2            &kp F3            &kp F4            &kp F5
                &none      &kp F11         &none             &bt BT_CLR        &bootloader       &none
                &trans     &trans          &trans

                // Right Half
                &none      &none       &none                  &none       &none      &none
                &kp 6      &kp F7      &kp F8                 &kp F9      &kp F10      &none
                &none      &none       &none                  &none       &kp F12      &none
                &trans     &trans      &trans      
            >;
        };
    };
};
