#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Левая половина (6 колонок × 3 строки + 3 thumb)
                &kp Q    &kp W    &kp E    &kp R    &kp T    &kp NO
                &kp A    &kp S    &kp D    &kp F    &kp G    &kp NO
                &kp Z    &kp X    &kp C    &kp V    &kp B    &kp NO
                &kp TAB  &kp ESC  &kp SPACE

                // Правая половина (зеркально)
                &kp NO   &kp Y    &kp U    &kp I    &kp O    &kp P
                &kp NO   &kp H    &kp J    &kp K    &kp L    &kp SEMI
                &kp NO   &kp N    &kp M    &kp COMMA &kp DOT  &kp SLASH
                &kp ENTER &kp DEL  &kp BKSP
            >;
        };
    };
};

&led_strip {
    chain-length = <18>;
};
